{% extends 'base.html' %}
{% load static %}
{% block extracss %}
    <link rel="stylesheet" href="{% static 'core/chat.css' %}"/>
{% endblock %}

{% block main %}
    <a href="https://github.com/suhailvs/django-whatsapp"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"></a>
    <div class="container">
        <h1>Welcome to ChatApp <small>Pick a user and start chatting! <a href="{% url 'whatsapp' %}">whatsapp</a></small></h1>
        <div class="row">
            <div class="col-md-4">
                <div id="user-list" class="list-group">
                    <a href="{% url 'logout' %}" class="list-group-item list-group-item-action">
                        <h4 class="list-group-item-heading">{{ user.username }} - logout</h4>
                        {# Users go here #}
                    </a>
                </div>
            </div>
            <div class="col-md-8">

                <div class="card">
                  <div class="card-header">Chat</div>
                  <div class="card-body">
                    <ul id="messages" class="messages">
                        {# Messages go here #}
                    </ul>
                  </div>
                  <div class="card-footer">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control input" id="chat-input" placeholder="Type your message here ..." maxlength="500">
                      <button class="btn btn-outline-secondary" id="btn-send">Send</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extrajs %}
<script>
    let sessionKey = '{{ request.session.session_key }}';
    let currentUser = '{{ request.user.username }}';
</script>
<script src="{% static 'core/chat.js' %}"></script>
{% endblock %}