{% extends 'base.html' %}
{% load static %}
{% block extracss %}
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"> -->

  
  <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}"/>
  <link rel="stylesheet" href="{% static 'core/chat_whatsapp.css' %}"/>
{% endblock %}

{% block main %}
<div class="container-fluid" id="main-container">
  <div class="row h-100">
    <div class="col-12 col-sm-5 col-md-4 d-flex flex-column h-100" id="chat-list-area" style="position:relative;">

      <!-- Navbar -->
      <div class="row d-flex flex-row align-items-center p-2 navbar">
        <img src="https://via.placeholder.com/400x400" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px; cursor:pointer;" onclick="showProfileSettings()" id="display-pic">
        <div class="text-body font-weight-bold" id="username">{{user.username}}</div>
        <div class="nav-item dropdown ml-auto">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v text-body"></i></a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="{% url 'simpleui' %}">Simple UI</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
          </div>
        </div>
      </div>

      <!-- User List -->
      <div class="row" id="user-list"></div>

      <!-- Profile Settings -->
      <div class="d-flex flex-column w-100 h-100" id="profile-settings">
        <div class="row d-flex flex-row align-items-center p-2 m-0" style="background:#009688; min-height:65px;">
          <i class="fas fa-arrow-left p-2 mx-3 my-1 text-white" style="font-size: 1.5rem; cursor: pointer;" onclick="hideProfileSettings()"></i>
          <div class="text-white font-weight-bold">Profile</div>
        </div>
        <div class="d-flex flex-column" style="overflow:auto;">
          <img src="https://via.placeholder.com/400x400" alt="Profile Photo" class="img-fluid rounded-circle my-5 justify-self-center mx-auto" id="profile-pic">
          <input type="file" id="profile-pic-input" class="d-none">
          <div class="bg-white px-3 py-2">
            <div class="text-muted mb-2"><label for="input-name">Your Name</label></div>
            <input type="text" name="name" id="input-name" class="w-100 border-0 py-2 profile-input">
          </div>
          <div class="text-muted p-3 small">
            This is not your username or pin. This name will be visible to your WhatsApp contacts.
          </div>
          <div class="bg-white px-3 py-2">
            <div class="text-muted mb-2"><label for="input-about">About</label></div>
            <input type="text" name="name" id="input-about" value="" class="w-100 border-0 py-2 profile-input">
          </div>
        </div>
        
      </div>
    </div>

    <!-- Message Area -->
    <div class="d-none d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100" id="message-area">
      <div class="w-100 h-100 overlay"><div class="intro"></div></div>

      <!-- Navbar -->
      <div class="row d-flex flex-row align-items-center p-2 m-0 w-100 navbar">
        <div class="d-block d-sm-none">
          <i class="fas fa-arrow-left p-2 mr-2 text-body" style="font-size: 1.5rem; cursor: pointer;" onclick="showChatList()"></i>
        </div>
        <img src="https://via.placeholder.com/400x400" alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px;" id="pic">
        <div class="d-flex flex-column">
          <div class="text-body font-weight-bold" id="name"></div>
          <div class="text-body small" id="details"></div>
        </div>
        <div class="d-flex flex-row align-items-center ml-auto">
          <!-- <a href="#"><i class="fas fa-search mx-3 text-secondary d-none d-md-block"></i></a> -->
          <a href="#" onclick="alert('Work in progress.');return false;"><i class="fas fa-paperclip mx-3 text-secondary d-none d-md-block"></i></a>
          <a href="#" onclick="alert('Work in progress.');return false;"><i class="fas fa-ellipsis-v mr-2 mx-sm-3 text-secondary"></i></a>
        </div>
      </div>

      <!-- Messages -->
      <div class="d-flex flex-column" id="messages"></div>

      <!-- Input -->
      <div class="d-none justify-self-end align-items-center flex-row" id="input-area">
        <a href="#" onclick="alert('Work in progress.');return false;"><i class="far fa-smile text-muted px-3" style="font-size:1.5rem;"></i></a>
        <input type="text" name="message" id="input" placeholder="Type a message" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm">
        <i class="fas fa-paper-plane text-muted px-3" style="cursor:pointer;" onclick="sendMessage()"></i>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block extrajs %}
<!-- <script type="text/javascript">
    let static_url = "{% static 'whatsapp/' %}";
  </script>
<script src="{% static 'whatsapp/datastore.js' %}"></script>
<script src="{% static 'whatsapp/date-utils.js' %}"></script>
<script src="{% static 'whatsapp/script.js' %}"></script> -->


<script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
<script>
    let sessionKey = '{{ request.session.session_key }}';
    let currentUser = '{{ request.user.username }}';
    let static_url = "{% static 'core' %}";
</script>
<script src="{% static 'core/chat_whatsapp.js' %}"></script>
{% endblock %}